*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    position: relative;
}
.menu-container {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100vh;
    top: 0;
    display: none;
}
.menu-side1 {
    width: 80%;
    height: 100%;
    background-color: black;
    opacity: .5;
}
.menu-side2 {
    width: 20%;
    height: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 30px;
    gap: 10px;
    font-size: 14px;
}
.menu-items {
    border-top: 0;
    border-radius: 0;
    border-left: 0;
    border-bottom: 1px solid rgb(82, 82, 82);
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 45px;
}
#menu-itmes {
    color: white;
    text-decoration: none;
}
#hidden-items {
    display: none;
}
.section1 {
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    z-index: 1;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
    object-fit: contain;
  }
.navbar {
    /* border: 1px solid black; */
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {

    /* border: 1px solid black; */
    color: white;
    padding: 10px;
    font-weight: bold;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    height: 25px;
    width: 160px;
    padding-bottom: 5px;

}

.navigation {
    /* border: 1px solid white; */
    width: auto;
    height: auto;
    display: flex;
}

.hamburger {
    height: 30px;
    display: flex;
    gap: 10px;
    width: auto;
    align-items: center;
}
#hamburg {
    display: none;
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-weight: bold;
}
.shop {
    display: flex;
    align-items: center;
    gap: 20px;
}
#shop {
    color: white;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}
#shop:hover {
    text-decoration: underline;
}
.line {
    border: 3px solid white;
    width: 2rem;
    height: 1px;
    margin: 3px;
}
#navigation {
    display: flex;
    font-size: 12px;
    list-style-type: none;
    gap: 10px;
}
#nav{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.upcoming {
    height: auto;
    width: 100%;
    /* border: 2px solid white; */
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}
.wrap {
    width: 100%;
}
#sect2 {
    margin-top: 0;
}
#sect3 {
    margin-top: 0;
}
#sect4 {
    margin-top: 0;
}
.sf {
    font-weight: bold;
    font-size: 2rem;
}
button {
    border: 2px solid white;
    height: 50px;
    width: 150px;
    background: none;
    color: white;
    font-weight: bold;
}
button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}
button::after {
    height: 0;
  left: 0;
  bottom: 0;
}
.section2 {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    padding: 40px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('https://sn00k13.github.io/spacex_clone/assets/img/Star_8_5_060424_DSC_1646_desktop_8fa6aee304.jpg');
    height: 750px;
    width: 100%;
}
.section3 {
    display: flex;
    align-items: flex-end;
    padding: 40px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('https://sn00k13.github.io/spacex_clone/assets/img/Eva_Suit_Desktop_alternate_1cf9bae18e.jpg');
    height: 750px;
    width: 100%;
}
.section4 {
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('https://sn00k13.github.io/spacex_clone/assets/img/make_life_multiplanetary_desktop_3fa7cff73c.jpg');
    height: 750px;
    width: 100%;
    padding: 40px;
}

.footer {
    background-size: contain;
    /* background-image: url('/assets/img/Flight_4.jpg'); */
    height: 4.375rem;
    width: 100%;
    background-color: rgb(12, 12, 12);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 0.625rem;
}
.copyright {
    font-size: 0.625rem;
}
.privacy {
    display: flex;
    gap: 0.625rem;
    font-size: 0.75rem;
}
.arrow {
    /* border: 1px solid black; */
    width: 100%;
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: 100;
}
#arrow {
    position: relative;
    top: 0;
    animation-name: arrow;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes arrow {
    0%       { opacity: 0; }
      25%, 75% { top:15px; }
      50%      { top:20px; }
      100%     {top:0;}
}

@media screen and (max-width: 392px) {
    .navigation {
        display: none;
    }
    #shop {
        display: none;
    }
    .logo {
        margin-left: 60px;
    }
    #myVideo {
        transform: translateX(calc((100% - 100vw) / 2));
    }
    /* .section1 {
        background-image: url('/assets/img/Flight_4_Website_Mobile_1_c11fc4201b.jpg');
    } */
    .menu-side1 {
        width: 20%;
    }
    .menu-side2 {
        width: 80%;
    }
    #hidden-items {
        display: flex;
    }
}