*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.section1 {
    background-size: cover;
    background-image: url('https://sn00k13.github.io/spacex_clone/assets/img/Flight_4_Website_Mobile_1_c11fc4201b.jpg');
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}
#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 50%;
    min-height: 50%;
  }
.logo {
    /* border: 1px solid black; */
    color: white;
    padding: 10px;
    font-weight: bold;
    width: 85%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo {
    height: 25px;
    width: 160px;
    padding-bottom: 5px;

}
.hamburger {
    height: 30px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-end;
    width: 15%;
}
.line {
    border: 3px solid white;
    width: 2rem;
    height: 0.0625rem;
    margin: 3px;
}
.navbar {
    /* border: 1px solid black; */
    height: 50px;
    width: 100%;
    position: sticky;
    display: flex;
    /* gap: 10px; */
    justify-content: center;
    align-items: center;
    /* justify-content: space-between; */
    padding: 20px;
}
.upcoming {
    height: 200px;
    width: 100%;
    /* border: 2px solid white; */
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}
#sect2 {
    margin-top: 0;
}
#sect3 {
    margin-top: 0;
}
#sect4 {
    margin-top: 0;
}
.sf {
    font-weight: bold;
    font-size: 2rem;
}
button {
    border: 2px solid white;
    height: 50px;
    width: 150px;
    background: none;
    color: white;
    font-weight: bold;
}
.section2 {
    display: flex;
    align-items: flex-end;
    padding: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('https://sn00k13.github.io/spacex_clone/assets/img/Star_8_5_060424_DSC_1646_desktop_8fa6aee304.jpg');
    height: 600px;
    width: 100%;
}
.section3 {
    display: flex;
    align-items: flex-end;
    padding: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('https://sn00k13.github.io/spacex_clone/assets/img/Eva_Suit_Desktop_alternate_1cf9bae18e.jpg');
    height: 600px;
    width: 100%;
}
.section4 {
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('https://sn00k13.github.io/spacex_clone/assets/img/make_life_multiplanetary_desktop_3fa7cff73c.jpg');
    height: 600px;
    width: 100%;
    padding: 20px;
}

.footer {
    background-size: contain;
    /* background-image: url('/assets/img/Flight_4.jpg'); */
    height: 4.375rem;
    width: 100%;
    background-color: rgb(12, 12, 12);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 0.625rem;
}
.copyright {
    font-size: 0.625rem;
}
.privacy {
    display: flex;
    gap: 0.625rem;
    font-size: 0.75rem;
}